.timeline-wrapper {
  width: 600px;
  margin: 0px auto;
  padding: 50px 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}

.timeline-wrapper h5{
  font-weight: 400;
  text-align: center;
  font-style: italic;
  margin: 50px auto;
}

.timeline-wrapper .timeline-title{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.timeline-wrapper .timeline-title img {
  margin: auto 15px auto 0px;
}

.timeline-wrapper .timeline-title h2 {
  font-family: 'Fredoka One';
  color: #5f3479;
  font-size: 35px;
}

.timeline-wrapper form {
  width: 100%;
  background: #f0edf3;
  padding: 20px;
  border-radius: 5px;
  margin: 30px auto;
}

.timeline-wrapper form textarea {
  border: 3px solid #e4d9eb;
  border-radius: 5px;
  font-size: 14px;
  padding: 15px;
  width: 100%;
  resize: none;
  font-family: 'Segoe UI', sans-serif;
}

.timeline-wrapper form button {
  background-color: #5f3479;
  color: white;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
  margin-top: 15px;
  text-align: right;
  cursor: pointer;
  transition: 0.2s;
}

.timeline-wrapper form button:hover{
  background-color: #4d2963;
}

.tweet-list {
  list-style: none;
  color: #1c2022;
}


@media screen and (max-width: 847px) {
  body {
    background-color: white;
  }

  .timeline-wrapper {
    width: 100%;
    margin: 0px auto;
    padding: 50px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    box-shadow: none;
  }
}